In [1]:
import pandas as pd

In [2]:
budget_file = "Resources/budget_data.csv"
budget_df=pd.read_csv(budget_file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:

total_months = len(budget_df["Date"])
total_months

86

In [4]:

total_net = sum(budget_df["Profit/Losses"])
total_net

38382578

In [5]:
average_month = budget_df["Profit/Losses"].mean()
average_month

446309.0465116279

In [6]:
max_increase = budget_df["Profit/Losses"].max()
max_increase

1170593

In [7]:
min_decrease = budget_df["Profit/Losses"].min()
min_decrease

-1196225

In [8]:
output = (
    f"Financial Analysis\n"
    f"----------------------------\n"
    f"Total Months: {total_months}\n"
    f"Total: ${total_net}\n"
    f"Average  Change: ${average_month}\n"
    f"Greatest Increase in Profits: {max_increase}\n"
    f"Greatest Decrease in Profits: {min_decrease}\n")

print(output)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $446309.0465116279
Greatest Increase in Profits: 1170593
Greatest Decrease in Profits: -1196225